# Default ignored files
/../../pythonProject3/.idea/shelf/
/../../pythonProject3/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../pythonProject3/.idea/httpRequests/
# Datasource local storage ignored files
/../../pythonProject3/.idea/dataSources/
/../../pythonProject3/.idea/dataSources.local.xml
